

<h2>About Us</h2>
<div class="aboutus">
<article class="message is-large">

    <div class="message-body">
        At My Veggie Box our goal is to help people <br> create delicious and <strong>nutricious meals</strong> at <br>
        Try <a> new recipes</a>, explore new flavours, and <br> experience the many benefits a <em>vegan lifestyle</em> <br> can bring to you and your family without the fuss.
    </div>

    <button type="button" id="buttonyoutube" data-toggle="modal" data-target=".bd-example-modal-lg">Watch Our Video</button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <iframe width="1000" height="615" src="https://www.youtube.com/embed/qTeF4ILp72c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      
  </article>
  <div>
    
  </div>
