

<h1>About Us</h1>

<p>At My Veggie Box our goal is to help people <br> create delicious and nutricious meals at <br>
Try new recipes, explore new flavours, and <br> experience the many benefits a vegan lifestyle <br> can bring to you and your family without the fuss.</p>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Watch Our Video</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <iframe width="1000" height="615" src="https://www.youtube.com/embed/qTeF4ILp72c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>
  </div>
</div>

