
<ul id="menu">
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/plate1.jpeg" alt="descripcion" /> Monday Meal</a></li>
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/plate3.jpeg" alt="descripcion" /> Tuesday Meal</a></li>
  <li><a href="" title=""><img width="580px" height="350px"src="../images/plate4.jpeg" alt="descripcion" /> Wednesday Meal</a></li>
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/plate5.jpeg" alt="descripcion" /> Thursday Meal</a></li>
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/veganbowl.jpeg" alt="descripcion" /> Friday Meal</a></li>

  <li><a href="" title=""><img width="580px" height="350px"src="../images/plate1.jpeg" alt="descripcion" /> Monday Meal</a></li>
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/plate9.jpeg" alt="descripcion" /> Tuesday Meal</a></li>
  <li><a href="" title=""><img width="580px" height="350px"src="../images/plate7.jpg" alt="descripcion" /> Wednesday Meal</a></li>
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/plate11.jpeg" alt="descripcion" /> Thursday Meal</a></li>
  <li><a href="/signup" title=""><img width="580px" height="350px"src="../images/veganbowl.jpeg" alt="descripcion" /> Friday Meal</a></li>
<ul>
  