body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: aliceblue;
}

.navbarlayout{
 padding-left: 400px;
 background-color: aliceblue;
}

.layoutLoginButton{
  padding: 20px;
}

#layoutlogo{
  display: inline-flex;
  height: 100px;
  width: 100px;
  
}

h1{
  padding-left: 500px;
  padding-bottom: 30px;
  padding-top:30px;
}

.card{
  display: inline-block;
padding: 70px;
}

.boxtypes{

  display: inline-block;

}
