/* ----- Super effect Top Shadow ---- */
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                   box-shadow: 0px 0px 10px rgba(0,0,0,.8);

    z-index: 100;
}
/* --- END ---  Super effect Top Shadow --- END --- */




.meal-price{
    position: absolute;
    right: 40px;
    top: 250px;
    padding: 25px;
    border: 1px rgba(112, 128, 144, 0.1) solid;
    border-radius: 5%;
    background-color: #FF9D76;

}



/* ----- Meal Container CSS ---- */
.meal-container{
    display: flex;
    flex-wrap: wrap;
}


.meal{
    width: 100%;
    padding: 10px;  
}


.meal-img {
    border-image: url(border.png) 25 25 round;
    width: 100%;
  }

#meal-name{
    font-weight: bold;
    text-align: center;
}

#meal-description{
    text-align: justify;
}
/* --- END --- Meal Container CSS --- END --- */









.card-select {
    text-align: center;
    transition: all 0.5s ease;
    width: 25%;
    opacity:0.6;
    margin: 2px;
    border: 1px rgba(112, 128, 144, 0.1) solid;
    border-radius: 5%;
    background-color: #F8F9FA;
  }
  
  /* .card-select .card-divider {
    background-color: #fefefe;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #cacaca;
  } */
  
  .card-select .button {
    padding: 1rem;
    background-color: #cacaca;
    border-radius: 5%;
    padding: 5px 20px;
  }
  
  .card-select .button:after {
    content: 'Select';
    
  }
  
  .card-select .button:hover {
    background-color: #1779ba;
  }
  
  .card-select .button:focus {
    background-color: #1779ba;
  }
  
  .card-select.is-selected {
    border: 1px solid #1779ba;
    box-shadow: 0 0 10px #e6e6e6;
    transition: all 0.5s ease;
    opacity: 1;
    background-color: #F8F9FA;
  }
  
  .card-select.is-selected .button {
    background-color: #1779ba;
  }
  
  .card-select.is-selected .button:after {
    content: 'Selected';
  }
  


/* ----- Credit Card Payment CSS ---- */

#bodyPayment { 
  margin:50px auto; 
  width:600px;
  border: gray 1px solid;
  border-radius: 5%;
  width:400px;
  padding: 40px;
  display: flex;
  align-content: center;
}

  .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
/* --- END --- Meal Container CSS --- END --- */



#form-container{

}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 450px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  outline: none;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  outline: none;
}

#signuptitle{
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  outline: none;
}

#usernamesignup, #emailsignup, #addresssignup, #passwordsignup, #password2signup{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  outline: none;
}

#usernamesignup:focus, #emailsignup:focus, #addresssignup:focus, #passwordsignup:focus, #password2signup:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

#signmeup {
  margin-top: 28px;
  margin-left: 47px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  outline: none;
}

#signmeup:hover,
#signmeup:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

#signmeup:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.or {
  position: absolute;
  top: 200px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 65px 40px 40px 40px;
  width: 300px;
  height: 450px;
  background: url('../images/signupt.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}


.right .loginwith {
  display: block;
  top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
  color:#FC4442;
  font-weight: bold;
  text-align: center;
}


button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  border-radius: 1%;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
  /*  // bootstrap .card-columns{
    display: inline-block;
} */