body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: aliceblue;
}

.navbarlayout{
 padding-left: 400px;
 background-color: aliceblue;
}

.layoutLoginButton{
  padding: 20px;
}

#layoutlogo{
  display: inline-flex;
  height: 100px;
  width: 100px;
  
}

h1{
  padding-left: 500px;
  padding-bottom: 30px;
  padding-top:30px;
}

.card{
background-color: rgb(207, 240, 20);
display: inline-block; 
height: 450px;
}

.container2{
  display: flex;
  margin-left:50px;
  

}
.btn-default{
  background-color: aliceblue; 
}

.typeboxes{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
 background-color: rgba(207, 240, 20, 0.459);
 text-align: center;
}

.typeboxes select{
  display: flex;
  margin-top: 10px; 
  align-items: baseline; 
}

.submit{
  display: flex;
  margin-top: 10px;
  border-radius: 10px;
  background-color:rgba(139, 145, 110);
}