body {
  font-family: 'Inconsolata', monospace;
  background-color: aliceblue;
  
}

a {
  color: aliceblue;
}

.navbarlayout{
 padding-left: 400px;
 background-color: rgb(222, 235, 247);
 height: 100px;
 font-size: 1.5em;
}

#contactus{
  padding:0 25px;
}

#layoutlogo{
  display: inline-flex;
  height: 100px;
  width: 100px;
  
  
}

h1{
  padding-left: 500px;
  padding-bottom: 30px;
  padding-top:30px;
  background-color: white;
}

.card{
background-color: rgba(252, 154, 50, 0.5);
display: inline-block; 
height: 450px;
}

#testUn{
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;;
  
}

.container2{
  display: flex;
  justify-content: center;
  
  

}
.btn-default{
  background-color: rgba(245, 235, 235, 0.63);
  border: 3px; 
}

.typeboxes{
  display:flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-around;
  padding-left: 100px;
 background-color: rgba(228, 248, 116, 0.322);
 text-align: center;
}

.typeboxes select{
  display: flex;
  margin-top: 10px; 
  align-items: baseline; 
}

.submit{
  display: flex;
  margin-top: 10px;
  border-radius: 10px;
  background-color:rgba(139, 145, 110);
}

#logohomepage{
 position:absolute;
  left: -320px;
  top: -35px;  
}

.navbarlayout{

  padding-top:40px;  
}

#maintitle{
  font-size: 3em;
}

.buttonslayout{

  display: flex;
  padding-left: 600px;
  margin-top: -50px;
}


.colayout{
  padding:10px 20px;
}


.page-footer{
  background-color: rgb(250, 208, 91);
  height: 150px;
}
.pb-3{
  height: 1em;
}

.ic{
  color: black;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-top: 45px;
}

.container-fluid{
  padding-top:90px;
}

.carousel-inner>.item>img{
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
}

#loginGoogle{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

/* #form-container{
  padding-top: 30px;
  background-color: rgb(243, 242, 237);
}

#form-container label{
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 15px;
}
#form-container input{
  margin-right: 20px;
  background-color: rgb(237, 248, 248);
  border-radius: 10px;
  font-size: auto;
  color: black; */
/* } */

.createaccount a{
  background-color: rgb(247, 244, 239);
}


.aboutus{
  background-color: rgb(250, 255, 185);
  text-align: center;
  margin-top: 20px;
  
}
.aboutus button{
  background-color: rgb(250, 244, 186);
  margin-top: 30px;
}

h2{
  text-align: center;
  margin-top: 10px;
}


