
   <h2>SIGN UP</h2>
<form action="/signup" method="POST" id="form-container">
<div id="form-container">

  <label for="username">My Username</label>
  <input id="usernamesignup" type="text" name="username" placeholder="Your Name">

  
  <label for="email">My Email</label>
  <input id="email" type="text-" name="email" placeholder="Your Email">
  <br><br>

  <label for="address">My Address</label>
  <input id="address" type="text" name="address" placeholder="Your Address">  
  <br><br>

  <label for="password">My Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  
  <label for="password2">Confirm my Password</label>
  <input id="password2" type="password" name="password2" placeholder="Confirm password">

  <% if (typeof message !== "undefined") { %>
  <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

</div>

  <button class="createaccount">Create account</button>
  <br>
  <label class="checkbox">
    <input type="checkbox">
    I agree to the <a href="#">terms and conditions</a>
  </label>


  <p class="account-message">
  Do you already have an account?
  <a href="/login">Login </a> or
  </p>

  <a href="/auth/google">Login with Google</a>
</form>
