
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your Name:">
  <br><br>
  
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Your Email:">
  <br><br>

   
  <label for="address">Address</label>
  <input id="address" type="text" name="address" placeholder="Your Address:">  
  <br><br>



  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password:">
  <br><br>
  <label for="password2">Password</label>
  <input id="password2" type="password2" name="password2" placeholder="Confirm your password:">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>